<div class="jumbotron">
  <div class="container">
    <h1>scraped.</h1>
    <h4>These are your saved articles</h4>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <button class="btn btn-danger">Delete all</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-primary">Home</button>
      </div>
    </div>
  </div>
</div>
<div class="container">
    {{#each articles}}
    	<div>
    	   <p><a target="_blank" href={{this.link}}>{{this.title}}</a></p>
         <p><button class="btn btn-info delete-button"value={{this._id}}>Unsave this article!</button></p>
         <form class="comment-form">
           <textarea class="comment-area" cols="30" rows="10" ></textarea>
           <button type="submit"></button>
         </form>
         <hr>
    	</div>
    {{/each}}
</div>
<script src="js/saved.js">

</script>